<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="utf-8"/>
    <title>Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div style="text-align: center;">
        <h1>Students</h1>
    </div>
    <h2>Изменить</h2>
    <form action="#" th:action="@{/students/addStudent}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-3">
                <input type="text" th:value="${student.id}" name="id" class="form-control" placeholder="Id студента" readonly>
            </div>
            <div class="form-group col-md-3">
                <input type="text" th:value="${student.name}" name="name" class="form-control" placeholder="Имя студента">
            </div>
            <div class="form-group col-md-3">
                <input type="text" th:value="${student.mark}" name="mark" class="form-control" placeholder="Оценка">
            </div>
        </div>
        <button type="submit" class="btn btn-success">добавить</button>
    </form>
</div>
</body>
</html>